
    /* text color */
    $color-text-main-theme: #333333;
    $color-text-hire-me: #ffffff;
    $color-text-surname: #1C2E8C;

    /* font style */

    $font-size-headline1: 36px;
    $font-size-article: bold;
    $font-family-main-theme: 'Roboto', sans-serif;

    /* colors */
    $color-background-main-theme: #ffffff;
    $color-leftbar-main-theme: #86A3B4;

    /* sizes */
    $leftbar-height: 105rem;
    $leftbar-width: 26rem;
    $rightbar-main-width: 50rem;

    $margin-bottom-headline1: 25px;
    $marigin-for-rightbar-leftside: 30rem;
    $left-righbar-padding: 29rem;

    /* borders */

    $border-headings-main-theme: 5px solid #000000;
    $border-leftbar-side-main-theme: 5px solid #000000;
    $border-leftbar-horizontal-line-right: 1px solid #000000;
    $border-rightbar-line-mediaForLowResolution: 3px solid #000000;

    /* margin */

    $margin-left-for-leftbar-text: 2.5rem;
    $margin-right-for-leftbar-headers-h3: 2.5rem;
    
    // padding

    $padding-right-for-leftbar-mainContent: 0.5rem;
