body {
    color: #333; 
    font-family: 'Roboto', sans-serif;
}
.mainframe {
    display: flex;
    flex-direction: row;
}

.leftbar {
    display: flex;
    flex-direction: column;
    background-color: #86A3B4;
    justify-content: center;
    width: 20vw;
    border-right: 1px solid #000000;
    padding-bottom: 300px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin-left: 45px;
    margin-right: 45px;
    width: 635px;
    gap: 20px;

    
}
.name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    }
.photo {
    width: 100%;
    object-fit: cover;
}


.surname {
    color: #1C2E8C;
}

.contactpart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 40px;
}

h3 {
    margin-left: 38px;
    margin-right: 25px;
    padding-bottom: 6px;
    border-bottom: 3px solid #000000;
}

.headline {
    font-weight: bold;

}

.underline {
    font-size: 10px;
    margin-top: 5px;
}

.headline1 {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 1px;
    border-bottom: 3px solid #000000;
}

p {
    font-weight: bold;
}

.skills {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    gap: 250px;
    font-weight: bold;
}