body {
    color: var(--color-text-main-theme);
    font-family: var(--font-family-main-theme);
    margin: 0px;
    background-color: var(--color-background-main-theme);
}
.mainframe {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}


.leftbar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-leftbar-main-theme);
    border-right: var(--border-leftbar-horizontal-line-right);
    position: fixed;
    height: var(--leftbar-height);
    width: var(--leftbar-width);
    border-radius: 0px;

}

.rightbar {
    left: var(--left-righbar-padding);
    border-radius: 0px;
    margin-left: var(--marigin-for-rightbar-leftside);
    

}

.main_right_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    width: var(--rightbar-main-width);
    gap: 20px;
    background-color: var(--color-background-main-theme);
    padding-top: 23px;

    
}
.name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin-left: var(--margin-left-for-leftbar-text);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

    }
.photo {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hireme {
    color: var(--color-text-hire-me);
}

.surname {
    color: var(--color-text-surname);
}

.contactpart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: var(--margin-left-for-leftbar-text);
}

.contact {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    margin-left: var(--margin-left-for-leftbar-text);
    margin-right: var(--margin-right-for-leftbar-headers-h3);
    padding-bottom: 6px;
    border-bottom: var(--border-leftbar-side-main-theme);
}

.headline {
    font-weight: bold;



}

.underline {
    font-size: 10px;
    margin-top: 5px;
}



p {
    font-weight: bold;
}

.skills {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    gap: 300px;
    font-weight: bold;
}

.headline1 {
    margin: 0px;
    border-bottom: var(--border-headings-main-theme);
    margin-bottom: 25px;
    font-size: var(--font-size-headline1);
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;

}

.secondjob {
    opacity: 0.7;
}

@media screen and (max-width: 550px) {
    body{
        width: 100vw;
    }
    .mainframe {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
    }

    .leftbar {
        position: static;
        height: 70%;
        padding-bottom: 3rem;
        width: 100%;
    }

    .rightbar {
        position: static;
        padding: 1.5rem;
    }

    .main_right_bar {
        width: 100%;
    }

    .skills {
        gap: 20vw;
    }

    .headline1 {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 550px) {
    .leftbar {
        box-shadow: 1px 0px 13px 7px #504B4B40;

    }

    .photo:hover {
        box-shadow: 10px 10px 16px 0px #00000040;
        transform: scale(1.5) translateX(16%);
    }

    .secondjob:hover {
        opacity: 100%;
    }
}