body {
    color: #333; 
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #ffffff;
}
.mainframe {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    column-gap: 600px;
    flex-wrap: wrap;
    
}

.leftbar {
    display: flex;
    flex-direction: column;
    background-color: #86A3B4;
    justify-content: center;
    border-right: 1px solid #000000;
    padding-bottom: 300px;
    top: 0px;
    width: 15%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    height: 1667px;
    width: 385px;
    border-radius: 0px;

}
.child_for_scrolling {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;

}

.rightbar {
    position: relative;
    left: 435px;
    border-radius: 0px;
    

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    width: 800px;
    gap: 20px;
    background-color: #ffffff;

    
}
.name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

    }
.photo {
    width: 100%;
    object-fit: cover;
}

.hireme {
    color: #FFFFFF;
}

.surname {
    color: #1C2E8C;
}

.contactpart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 40px;
}

.contact {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    margin-left: 40px;
    margin-right: 70px;
    padding-bottom: 6px;
    border-bottom: 5px solid #000000;
}

.headline {
    font-weight: bold;



}

.underline {
    font-size: 10px;
    margin-top: 5px;
}



p {
    font-weight: bold;
}

.skills {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    gap: 250px;
    font-weight: bold;
}

.headline1 {
    font-weight: bold;
    margin: 0px;
    border-bottom: 5px solid #000000;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;

}