select, textarea, input {
    appearance: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

/* the first rule of fight club: Removing outlines in CSS creates issues for people navigating the web with a keyboard.
*:focus {outline:none !important}*/

form {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.forposition {
    position: relative;
    
}

fieldset {
    width: 1024px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}

.labelforoptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    
}

.filling {
    margin: 15px;
}

.descriptionandtextarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

table, th, td, tr {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 7px;
    
    
}



input[type="submit"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;

    width: 82px;
    height: 32px;
    background: #0048D9;
    border-radius: 6px;
    color: #ffffff;
    border: none;
    cursor: pointer;

} 

input[type="submit"]:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 16px;
    width: 82px;
    height: 32px;
    background-color: #002266;
    border: none;
}



.error {
    display: none;
    color: #ff0000;
}

textarea {
    background: #F8FAFC;
    border-radius: 4px;
    padding: 10px;
}

input[type="email"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #F8FAFC;
    border-radius: 4px;
    padding: 10px;
}



input, textarea, select {
    width: 493px;
}


.inputforemail:invalid:focus + .error,
.textearea1:invalid:focus + .error,
.select1:invalid:focus + .error,
.email1:invalid:focus + .error {
    display: block;
}

input:invalid:focus, textarea:invalid:focus, select:invalid:focus {
    border: 1px solid #ff0000;
}

input:focus, textarea:focus, select:focus{
    border: 1px solid #0048D9
    
}


input:valid, textarea:valid, select:valid {
    border: 1px solid #0E6245;
}

input[type="email"]:hover {
    background: url(./assets/email.png) no-repeat right;
    background-size: 2rem;
    background-position: 97%;
    opacity: 0.5;
}

textarea:hover {

}

select {
    background: #F8FAFC;
    border-radius: 4px;
    background: url(./assets/Vector.png) right no-repeat;
    background-size: .75em;
    background-position: 97%;
    padding: 10px;
    width: 517px;
    
}

.asterisk {
    color: #ff0000;
}

